@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Life+Savers:wght@400;700&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Slab:wght@400;600&family=Oswald:wght@300;600&display=swap");
:root {
  --bg-body-color: #fffbf3;
  --bg-color: #d44884;
  --link-color: #56c0ba;
  --link-hover-color: #277987;
  --color-4: #87204d;
  --color-5: #d4c85d;
  --bg-sec-color: rgba(255, 255, 255, 1);
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Oswald", sans-serif;
  --subHeader-font: "Josefin Slab", serif;
  --main-text-color: #403030;

  --white-space: 1rem;

  /*iconos*/
  --url-chilis: url(../assets/logo_chili_round.svg);
  --url-vegetarian: url(../assets/vegetarianv2.svg);
  --url-watch: url(../assets/watch.svg);

  --picture-width: 600px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
  background-color: var(--bg-body-color);
}

/*----navigation----------*/
header {
  background-color: var(--bg-body-color);
  height: max(5vw, 14vh);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 0;
  padding-left: 2rem;
}

nav {
  width: auto;
}

nav ul {
  font-family: var(--subHeader-font);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--link-color);
  display: flex;
  gap: 8vw;
  align-items: baseline;
  list-style-type: none;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav ul li {
  text-decoration: none;
  text-decoration-style: none;
  cursor: pointer;
}

nav figure {
  background-color: var(--bg-body-color);
  width: 7vw;
  min-width: 100px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

main {
}

/*--------------------------------*/
/*-----homepage--------------*/

section.welcome {
  height: 90vh;
  width: 100%;
  background-image: url(../assets/ella-olsson-4dQiaWKiL-Y-unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  font-family: var(--primary-font);
  font-size: 5rem;
  margin: 0;
}

.welcome figure {
  width: 15%;
}

.welcome p {
  max-width: 40ch;
}

section.categoryMenu {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.categoryMenu > h2 {
  color: black;
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 2rem;
  align-self: flex-start;
  margin-left: 20vw;
}

div.categoryMenu {
  width: max(350px, 65%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 3rem 0;
}

div.homeButton {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.342),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/ella-olsson-4dQiaWKiL-Y-unsplash.jpg);
  height: 15vw;
  width: 15vw;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 250%;
  margin-left: 2vw;
  cursor: pointer;
}

.categoryMenu h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--bg-body-color);
  color: rgb(255, 255, 255);
}

/*------------------------------*/
/*-----------Recipie--------------*/

.sec1,
.sec2 {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--bg-sec-color);
  display: flex;
  gap: var(--white-space);
  flex-wrap: wrap;
  justify-content: center;
}

.sec1 {
  padding-top: 3rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}

.recipeBigWraper {
  position: relative;
}

button {
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  cursor: pointer;
  color: #fffbf3;
  font-size: 1.2rem;
}

button:hover {
  background-color: var(--link-hover-color);
}

.sec2 {
  padding-bottom: 3rem;
  border-radius: 0 0 2rem 2rem;
}

.sec1 .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: var(--picture-width);
}

h2 {
  font-family: var(--primary-font);
  font-size: 3rem;
  margin: 0;
}

.chilis {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.chilis div {
  height: 40px;
  width: 40px;
  background-image: var(--url-chilis);
  background-size: contain;
}

.watch {
  height: 40px;
  width: 40px;
  background-image: var(--url-watch);
  background-size: contain;
  background-repeat: no-repeat;
}

/*no chilis */
/* .chilis div:nth-child(1),
.chilis div:nth-child(2) {
  opacity: 0.2;
} */
/*no chilis */

.category {
  height: 100px;
  width: 100px;
  background-image: var(--url-vegetarian);
  background-size: cover;
}

/* figure {
  background-color: bisque;
  height: var(--picture-width);
  width: var(--picture-width);
  overflow: hidden;
} */

.sec2 div {
  background-color: white;
  height: 800px;
  width: 600px;
}

h3 {
  font-family: var(--subHeader-font);
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: calc(2 * var(--white-space));
}

li {
  max-width: 35ch;
  margin-bottom: var(--white-space);
}

.recipieContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  display: block;
  width: 80%;
}

/*-------------------------------------*/

.halfOpacity {
  opacity: 0.2;
}

/*---------recipies list---------------*/

/*--recipe of the day--*/

#recipeOfDay {
  width: 100%;
  padding-top: var(--white-space);
}

#recipeOfDay h1 {
  text-align: center;
  margin: 0;
  font-size: 3rem;
}
.recipeMedium {
  margin-top: calc(2 * var(--white-space));
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8rem;
}

.recipeMedium img {
  max-width: 100%;
}

.infoMedium {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.infoMedium h2 {
  font-size: 5rem;
}

.infoMedium h4 {
  font-size: 2rem;
  font-weight: lighter;
}

.infoMedium p {
  font-size: 130%;
  max-width: 35ch;
}

.timeChili {
  display: flex;
  column-gap: 2rem;
}

.timeChili div:nth-child(1) {
  display: flex;
  align-items: center;
}

.navSubcategory {
  margin-top: 2rem;
}

#recipeList {
  margin-top: var(--white-space);

  padding-left: 2vw;
  padding-right: 2vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 410px));
  column-gap: 2rem;
  row-gap: 4rem;
  padding-bottom: max(3vw, 5vh);
  padding-top: max(3vw, 5vh);
}

section.recipeCard {
  display: flex;
  flex-direction: column;
  width: min(400px, 96vw);
  row-gap: 0.8rem;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(228, 228, 228, 0.424)
  );
  padding: 1rem;
}

.recipeCard > figure {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.recipeCard img {
  height: 100%;
}

/*-----subcategory navigation-----*/

.navSubcategory {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navSubcategory h4 {
  font-size: 2rem;
  font-weight: lighter;
}

.iconMenu {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.iconMenu div {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  filter: grayscale(50%);
}

.iconMenu div:hover {
  filter: drop-shadow(2px 2px 10px rgba(119, 119, 119, 0.301)) grayscale(0);
}

.buttonVegan {
  background-image: url(../assets/vegan_rc.svg);
}

.buttonVegetarian {
  background-image: url(../assets/veggie_rc.svg);
}

.buttonBeef {
  background-image: url(../assets/beef_rc.svg);
}

.buttonChicken {
  background-image: url(../assets/chicken_rc.svg);
}

.buttonFish {
  background-image: url(../assets/fish_rc.svg);
}

.buttonPork {
  background-image: url(../assets/pork_rc.svg);
}
