@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Life+Savers:wght@400;700&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Slab:wght@400;600&family=Oswald:wght@300;600&display=swap");
:root {
  --bg-body-color: #fffbf3;
  --bg-color: #d44884;
  --link-color: #56c0ba;
  --link-hover-color: #277987;
  --color-4: #87204d;
  --color-5: #d4c85d;
  --bg-sec-color: rgba(255, 255, 255, 1);
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Oswald", sans-serif;
  --subHeader-font: "Josefin Slab", serif;
  --main-text-color: #403030;

  --white-space: 1rem;

  /*iconos*/
  --chilis: url(../assets/chili_full.svg);
  --url-vegetarian: url(../assets/vegetarianv2.svg);
  --watch: url(../assets/watch.svg);

  --picture-width: 600px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
  background-color: var(--bg-body-color);
}

main.recipe_list {
  width: 80%;
  margin-left: 10%;
}

/*----navigation----------*/
header {
  background-color: var(--bg-body-color);
  height: max(6vw, 100px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 0;
  padding-left: 2rem;
}

nav {
  width: auto;
}

nav ul {
  font-family: var(--subHeader-font);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--link-color);
  display: flex;
  column-gap: 8vw;
  row-gap: 1rem;
  align-items: baseline;
  list-style-type: none;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav ul li {
  text-decoration: none;
  text-decoration-style: none;
  cursor: pointer;
}

nav figure {
  background-color: var(--bg-body-color);
  width: 7vw;
  min-width: 100px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

/*--------------------------------*/
/*-----homepage--------------*/

section.welcome {
  height: 70vh;
  width: 100%;
  background-image: url(../assets/ella-olsson-4dQiaWKiL-Y-unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

section.welcome .welcomeWraper {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.welcome h1 {
  font-family: var(--primary-font);
  font-size: 5rem;
  margin: 0;
}

.welcome figure {
  width: min(100%, 25vw);
}

.welcome p {
  max-width: 40ch;
}

section.categoryMenu {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.categoryMenu > h2 {
  color: black;
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 2rem;
  align-self: flex-start;
  margin-left: 20vw;
}

div.categoryMenu {
  width: max(350px, 65%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 3rem 0;
}

div.homeButton {
  height: 15vw;
  width: 15vw;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  margin-left: 2vw;
  cursor: pointer;
}

div.homeButton:hover {
  filter: drop-shadow(2px 2px 10px rgba(119, 119, 119, 0.7)) saturate(1.5);
}

#main {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.35),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/MAIN_ryan-concepcion-50KffXbjIOg-unsplash.jpg);
}

#salads {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.35),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/SALAD_pexels-alesia-kozik-6544388-1.jpg);
}

#appetizer {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.35),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/APPETIZER_diego-lozano-Ou54iFyr-Uk-unsplash.jpg);
}

#drinks {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.35),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/DRINK_taylor-simpson-C__YNhhO7T0-unsplash.jpg);
}

#sides {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.35),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/SIDES_pexels-dayvison-de-oliveira-silva-5696558.jpg);
}

#deserts {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.35),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/DESSERT_chris-reyem-WLOabgHQUCQ-unsplash.jpg);
}

.categoryMenu h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--bg-body-color);
  color: rgb(255, 255, 255);
}

/*------------------------------*/
/*-----------Recipie--------------*/

.sec1,
.sec2 {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--bg-sec-color);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.sec1 {
  padding-top: 3rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}

.recipeBigWraper {
  position: relative;
}

button {
  width: 10rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--bg-color);
  cursor: pointer;
  color: #fffbf3;
  font-size: 1.2rem;
  font-family: var(--subHeader-font);
  font-weight: bold;
}

button:hover {
  background-color: var(--link-hover-color);
}

.sec2 {
  padding-bottom: 3rem;
  border-radius: 0 0 2rem 2rem;
}

.sec1 .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: var(--picture-width);
}

h2 {
  font-family: var(--primary-font);
  font-size: 3rem;
  margin: 0;
}

.chilis {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.chilis div {
  height: 30px;
  width: 30px;
  background-image: url(../assets/chili_full.svg);
  background-size: contain;
}

.watch {
  height: 40px;
  width: 40px;
  background-image: url(../assets/watch.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.timeChili > div > p {
  font-family: var(--subHeader-font);
  font-weight: bold;
}

/*no chilis */
/* .chilis div:nth-child(1),
.chilis div:nth-child(2) {
  opacity: 0.2;
} */
/*no chilis */

.category {
  height: 100px;
  width: 100px;
  background-image: var(--url-vegetarian);
  background-size: cover;
}

/* figure {
  background-color: bisque;
  height: var(--picture-width);
  width: var(--picture-width);
  overflow: hidden;
} */

.sec2 div {
  background-color: white;
  height: 800px;
  width: 600px;
}

h3 {
  font-family: var(--subHeader-font);
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

li {
  max-width: 35ch;
  margin-bottom: 1rem;
}

.recipieContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  display: block;
  width: 80%;
}

/*-------------------------------------*/

.halfOpacity {
  opacity: 0.2;
}

/*---------recipies list---------------*/

/*--recipe of the day--*/

#recipeOfDay {
  width: 100%;
  padding-top: 1rem;
}

#recipeOfDay h1 {
  text-align: center;
  margin: 0;
  font-size: 4.2rem;
  font-weight: lighter;
}
.recipeMedium {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  column-gap: 8rem;
  row-gap: 2rem;
}

.recipeMedium figure {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  max-width: min(100vw, 600px);
  height: max(30vw, 600px);
}

.recipeMedium img {
  /* max-width: 100%; */
  width: auto;
  min-height: 100%;
}

.infoMedium {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.infoMedium h2 {
  font-size: 4rem;
  max-width: 25ch;
}

.infoMedium h4 {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: var(--subHeader-font);
}

.infoMedium p {
  font-size: 130%;
  max-width: 40ch;
}

.timeChili {
  display: flex;
  column-gap: 2rem;
}

.timeChili div:nth-child(1) {
  display: flex;
  align-items: center;
}

.navSubcategory {
  margin-top: 3rem;
}

#recipeList {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 420px));
  column-gap: 2rem;
  row-gap: 4rem;
  padding-bottom: max(3vw, 5vh);
  padding-top: max(3vw, 5vh);
}

section.recipeCard {
  display: flex;
  flex-direction: column;
  width: min(400px, 82vw);
  row-gap: 0.8rem;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(228, 228, 228, 0.424)
  );
  padding: 1rem;
  position: relative;
}

section.recipeCard .categoryIndex {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-size: cover;
}

.recipeCard > figure {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.recipeCard img {
  height: 100%;
}

/*-----subcategory navigation-----*/

.navSubcategory {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(208, 223, 220, 0.568);
  padding: 1rem;
}

.icon-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navSubcategory h4 {
  font-size: 2rem;
  font-weight: lighter;
}

.navSubcategory h5 {
  font-weight: lighter;
  font-size: 120%;
  margin-top: 95%;
  text-align: center;
}

.iconMenu {
  margin-top: 1rem;
  display: flex;

  flex-wrap: wrap;
}

.iconMenu div {
  margin: 0 0 2.5rem 2rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  filter: drop-shadow(2px 2px 5px rgba(61, 61, 61, 0.5)) grayscale(50%);
}

.iconMenu div:hover {
  filter: drop-shadow(2px 2px 10px rgba(119, 119, 119, 0.301)) grayscale(0);
}

.Vegan {
  background-image: url(../assets/vegan_rc.svg);
}

.Vegetarian {
  background-image: url(../assets/vegetarian_rc.svg);
}

.Beef {
  background-image: url(../assets/beef_rc.svg);
}

.Chicken {
  background-image: url(../assets/chicken_rc.svg);
}

.Fish {
  background-image: url(../assets/fish_rc.svg);
}

.Pork {
  background-image: url(../assets/pork_rc.svg);
}

.dropDown-container {
  position: relative;
  margin-left: 2vw;
}

.dropDown {
  padding: 0.5rem 0 0.5rem 1rem;
  width: 12rem;
  color: white;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  background-color: var(--link-hover-color);
  border: none;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: rgb(14, 83, 104);
  height: 100%;
  width: 3rem;
  pointer-events: none;
}

.custom-arrow::before {
  content: "";
  position: absolute;
  border-left: 0.65rem solid transparent;
  border-right: 0.65rem solid transparent;
  border-top: 0.65rem solid white;
  left: 30%;
  top: 45%;
}

/* -----ingredients---steps------*/

.recipeWraper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 2rem 0;
}

#ingredients-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 2rem;
}

#ingredients-steps div {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: min(400px, 80vw);
  border-radius: 10px;
}

.porkbb {
  color: #ea4c93;
  background-color: #ffddf0;
}
.beefbb {
  color: #ef3c38;
  background-color: #f9c7c7;
}
.fishbb {
  color: #05a8a0;
  background-color: #c5e4e1;
}
.chickenbb {
  color: #ff852e;
  background-color: #f4d3ba;
}
.vegetarianbb {
  color: #71a334;
  background-color: #e4edd1;
}
.veganbb {
  color: #09863f;
  background-color: #abd8bd;
}

.drinkbb {
  color: #7421ac;
  background-color: #d0a8eb;
}

/*--------bread crombs----------------*/
.breadcrombs {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.breadcrombs a,
.breadcrombs p {
  color: #817a7a;
  font-size: 1.5rem;
}
.breadcrombs a {
  text-decoration: underline;
}
.breadcrombs p {
  text-transform: capitalize;
}

/* -----about------ */
.aboutWraper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding: 2rem 0;
  flex-direction: column-reverse;
}

.aboutMedium {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.aboutMedium img {
  width: 55vw;
  min-height: auto;
}

.infoAbout {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.infoAbout h2 {
  font-size: 5rem;
  text-align: left;
}

.infoAbout p {
  font-size: 130%;
  max-width: 35ch;
  text-align: left;
}

/* -----footer------ */

.footer {
  background-color: var(--link-hover-color);

  width: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  margin-top: 5em;
}

.footer img {
  padding-left: 2em;
  width: 8em;
}

.footer p {
  color: var(--bg-body-color);
  font-family: var(--subHeader-font);
}

.footer nav {
  text-align: right;
  padding-right: 2em;
}

.footer nav ul li {
  margin: 0;
}

.footer nav ul {
  font-family: var(--secondary-font);
  font-weight: 100%;
  font-size: 1rem;
  display: inline;
}

.footer nav ul li a {
  font-family: var(--subHeader-font);
  color: var(--bg-body-color);
}

.footer nav ul li:hover {
  text-decoration: underline;
}

.some {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.some li {
  display: inline;
}

.some li a img {
  width: 2em;
  margin-top: 3em;
  padding-left: 0;
  margin: 3em 1em 0 1em;
}

/* INGRIDIENTS PAGE by GINTARE*/
#the_recipe_list_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}

.ingredient_name {
  text-align: center;
}
.ingredients_text {
  width: 65%;
  margin: auto;
  margin-bottom: 45%;
}

.ingredients_img {
  border-radius: 50%;
  overflow: hidden;
  height: 30vw;
  width: 30vw;
  margin: auto;
  margin-bottom: 20%;
}

@media screen and (max-width: 1030px) {
  section.welcome .welcomeWraper {
    background-color: rgba(226, 224, 224, 0.4);
  }
}

/* HERE ADDED MEDIA QUERY FOR MOBILE VIEW FOR INGREDIENT LIST, GINTARE */
@media screen and (max-width: 720px) {
  #the_recipe_list_section {
    display: grid;
    grid-template-areas:
      "avo"
      "avt"
      "laim"
      "lait"
      "chil"
      "chit"
      "cila"
      "cilt"
      "corn"
      "cort"
      "garl"
      "gart";
    grid-gap: 0;
    grid-template-columns: 1fr;
  }

  .ingredients_img {
    height: 50vw;
    width: 50vw;
    margin-bottom: 3%;
  }
  .ingredients_text {
    width: 90%;
    margin-bottom: 30%;
  }

  .avocado {
    grid-area: avo;
  }
  .avocado_text {
    grid-area: avt;
  }
  .lime_img {
    grid-area: laim;
  }
  .lime_text {
    grid-area: lait;
  }
  .chilli_img {
    grid-area: chil;
  }
  .chilli_text {
    grid-area: chit;
  }
  .cilantro_img {
    grid-area: cila;
  }
  .cilantro_text {
    grid-area: cilt;
  }
  .corn_img {
    grid-area: corn;
  }
  .corn_text {
    grid-area: cort;
  }
  .garlic_img {
    grid-area: garl;
  }
  .garlic_text {
    grid-area: gart;
  }
  /*------header------*/
  header {
    height: 22vh;
  }

  header nav ul li:nth-child(3) {
    order: -1;
  }
}

@media only screen and (max-width: 420px) {
  .aboutMedium img {
    display: none;
  }

  .aboutWraper {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      url(../assets/banner.svg);
    background-size: cover;
    padding-bottom: 3rem;
  }

  .footer {
    margin-top: 0;
  }

  .infoAbout {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .infoAbout h2 {
    text-align: center;
  }

  .infoAbout p {
    max-width: 30ch;
  }

  #recipeOfDay h1 {
    font-size: 3.5rem;
  }

  #recipeList {
    margin-left: -5%;
  }
}
