@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Life+Savers:wght@400;700&family=Roboto:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Josefin+Slab:wght@400;600&family=Oswald:wght@300;600&display=swap");
:root {
  --bg-body-color: #fffbf3;
  --bg-color: #d44884;
  --link-color: #56c0ba;
  --link-hover-color: #277987;
  --color-4: #87204d;
  --color-5: #d4c85d;
  --bg-sec-color: rgba(255, 255, 255, 1);
  --primary-font: "Amatic SC", cursive;
  --secondary-font: "Oswald", sans-serif;
  --subHeader-font: "Josefin Slab", serif;
  --main-text-color: #403030;

  --white-space: 1rem;

  /*categories*/
  --url-chilis: url(../assets/logo_chili_round.svg);
  --url-vegetarian: url(../assets/vegetarianv2.svg);

  --picture-width: 600px;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
  background-color: var(--bg-body-color);
}
/*----navigation----------*/
header {
  background-color: var(--bg-body-color);
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

nav {
  width: auto;
}

nav ul {
  font-family: var(--subHeader-font);
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--link-color);
  display: flex;
  gap: 8vw;
  align-items: center;
  list-style-type: none;
  list-style: none;
  flex-wrap: wrap;
}

nav ul li {
  text-decoration: none;
  text-decoration-style: none;
  cursor: pointer;
}

nav figure {
  background-color: var(--bg-body-color);
  width: 7vw;
  min-width: 100px;
}
a {
  text-decoration: none;
  color: var(--link-color);
}

/*--------------------------------*/
/*-----homepage--------------*/

section.welcome {
  height: 90vh;
  width: 100%;
  background-image: url(../assets/ella-olsson-4dQiaWKiL-Y-unsplash.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome h1 {
  font-family: var(--primary-font);
  font-size: 5rem;
}

.welcome figure {
  width: 15%;
}

.welcome p {
  max-width: 40ch;
}

section.categoryMenu {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.categoryMenu > h2 {
  color: black;
  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 2rem;
  align-self: flex-start;
  margin-left: 20vw;
}

div.categoryMenu {
  width: max(350px, 65%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 3rem 0;
}

div.homeButton {
  background-image: linear-gradient(
      to bottom,
      rgba(179, 179, 179, 0.342),
      rgba(70, 49, 64, 0.73)
    ),
    url(../assets/ella-olsson-4dQiaWKiL-Y-unsplash.jpg);
  height: 15vw;
  width: 15vw;
  min-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 250%;
  margin-left: 2vw;
  cursor: pointer;
}

.categoryMenu h2 {
  font-size: 3rem;
  font-weight: bold;
  color: var(--bg-body-color);
  color: rgb(255, 255, 255);
}

/*------------------------------*/
/*-----------Recipie--------------*/

.sec1,
.sec2 {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--bg-sec-color);
  display: flex;
  gap: var(--white-space);
  flex-wrap: wrap;
  justify-content: center;
}

.sec1 {
  padding-top: 3rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
}

.recipeBigWraper {
  position: relative;
}

button {
  position: sticky;
  top: 8rem;
  transform: translateX(75vw);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  cursor: pointer;
  z-index: 2;
}

.sec2 {
  padding-bottom: 3rem;
  border-radius: 0 0 2rem 2rem;
}

.sec1 .info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: var(--picture-width);
}

h2 {
  font-family: var(--primary-font);
  font-size: 3rem;
}

.chilis {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.chilis div {
  height: 40px;
  width: 40px;
  background-image: var(--url-chilis);
  background-size: contain;
  opacity: 1;
}

/*no chilis */
.chilis div:nth-child(1),
.chilis div:nth-child(2) {
  opacity: 0.2;
}
/*no chilis */

.category {
  height: 100px;
  width: 100px;
  background-image: var(--url-vegetarian);
  background-size: cover;
}

/* figure {
  background-color: bisque;
  height: var(--picture-width);
  width: var(--picture-width);
  overflow: hidden;
} */

.sec2 div {
  background-color: white;
  height: 800px;
  width: 600px;
}

h3 {
  font-family: var(--subHeader-font);
  font-size: 2rem;
  margin-left: 2rem;
  margin-top: calc(2 * var(--white-space));
}

li {
  max-width: 35ch;
  margin-bottom: var(--white-space);
}

.recipieContainer {
  position: absolute;
  top: 10%;
  left: 10%;
  display: block;
  width: 80%;
}

/*-------------------------------------*/

.halfOpacity {
  opacity: 0.2;
}

/*---------recipies list---------------*/

.recipieList {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.recipieList article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.recipieList article:nth-child(odd) {
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.infoSmall {
  width: var(--picture-width);
}

.recipieList p {
  max-width: 35ch;
  font-size: 1.5rem;
}

.figureSmall {
  position: relative;
}

.figureSmall .category {
  position: absolute;
  background-color: var(--color-5);
  right: 0;
}

.recipieList article:nth-child(odd) .category {
  left: 0;
}
