* {
  font-size: 1rem;
}

body {
  padding: 0;
  margin: 0;
}

section {
  margin-top: 2rem;
  padding: 2rem 0;
  background-color: aquamarine;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 600px;
}

h2 {
  font-size: 3rem;
}

.chilis {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.chilis div {
  background-color: tomato;
  height: 30px;
  width: 30px;
}

.category {
  background-color: teal;
  height: 60px;
  width: 60px;
}

figure {
  background-color: bisque;
  height: 600px;
  width: 600px;
}

.sec2 div {
  background-color: white;
  height: 800px;
  width: 600px;
}
